/* *{
    background-color: darkblue;
} */

body{
    /* margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; */
    background-color: darkblue;
    padding-left: 50px;
    padding-right: 50px;
}

.Instructions{
    background-color: aqua;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#MainDiv{
    background-color: red;
    /* margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px; */
}

.NavBar{
    background-color: aqua;
    /* overflow: hidden; */
}

.NavBar a{
    float: left;
    padding: 10px 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow;
    border: 2px solid black;
}

.NavBar a:hover{
    background-color: paleturquoise; 
}

.NavBar a.active{
    background-color: green;
    color: black;
}

#Title{
    color: white;
    text-align: center;
    font-size: 50px;
}

.difficulty{
    background-color: aqua;
    /* align-items: center;
    text-align: center; */
    padding: 20px 25px;
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 45%;
    /* right: 50%; */
}

.difficulty a button{
    padding: 10px 15px;
}

#easy{
    background-color: green;
}

#medium{
    background-color: yellow;
}

#hard{
    background-color: red;
}

/* .diff :hover{
    background-color: paleturquoise;
} */

.list{
    color: white
}